@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end-rgb: #f5f5f5;
  --background-start-rgb: #e3e3e3;
  --primary: #3490dc;
  --secondary: #ffed4a;
  --accent: #ff0080;
  --white: #fff;
  --black: #000;
  --font-content: #1c1b1b;
  --font-heading-1: #101010;
  --font-heading-2: #0c0c0c;
  --font-heading-3: #080808;
  --font-heading-4: #040404;
  --font-heading-5: #000000;
}

[root-theme="dark"] {
  --background-end-rgb: #1a202c;
  --background-start-rgb: #2d3748;
  --primary: #1d4ed8;
  --secondary: #f59e0b;
  --accent: #e11d48;
  --white: #fff;
  --black: #000;
  --font-content: #fff;
  --font-heading-1: #fff;
  --font-heading-2: #fff;
  --font-heading-3: #fff;
  --font-heading-4: #fff;
  --font-heading-5: #fff;
}

[root-theme="pink"] {
  --background-end-rgb: #ffe0e9;
  --background-start-rgb: #ffd1e8;
  --primary: #d291bc;
  --secondary: #f3c4fb;
  --accent: #a0c4ff;
  --white: #fff;
  --black: #000;
  --font-content: #6d6875;
  --font-heading-1: #5a5560;
  --font-heading-2: #48454f;
  --font-heading-3: #363440;
  --font-heading-4: #24232f;
  --font-heading-5: #12111e;
}

/* [root-theme="contrast"] {
  --background-end-rgb: #ffffff;
  --background-start-rgb: #000000;
  --primary: #ff0000;
  --secondary: #00ff00;
  --accent: #0000ff;
  --white: #fff;
  --black: #000;
  --font-content: #fff;
  --font-heading-1: #fff;
  --font-heading-2: #fff;
  --font-heading-3: #fff;
  --font-heading-4: #fff;
  --font-heading-5: #fff;
} */

html,
body {
  color: var(--font-content);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb);
  min-height: 100vh;
}